<meta>
    <settings>
        <cherwell
                url=""
                user=""
                password=""
                client_id=""/>
        <device42
                url=""
                user=""
                password=""/>
    </settings>


    <tasks>
        <task enable="false" description="Copy Servers from Device42 to Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH" path="/api/V1/savebusinessobjectbatch"/>
                <resource model="device" target="device42" method="GET" extra-filter="last_updated_gt=2016-09-04 00:00"
                          path="/api/1.0/devices/all/?is_it_blade_host=no&amp;"/>
            </api>

            <configuration-item bus-ob-id="93dada9f640056ce1dc67b4d4bb801f69104894dc8"/>

            <mapping callback="from_d42" key="device_id" source="Devices">
                <field resource="service_level" type="string" target="AssetStatus"/>
                <field resource="tags" type="string" is-array="True" target="AssetTag"/>
                <field resource="customer" type="string" target="AssetOwner"/>
                <field resource="type" type="string" target="AssetType"/>
                <field resource="tags" type="string" target="ComputerType"/>
                <field resource="cpuspeed" type="string" target="CPUSpeed"/>
                <field resource="notes" type="string" target="Description"/>
                <field resource="aliases" is-array="True" type="string" target="FriendlyName"/>
                <field resource="name" type="string" target="HostName"/>
                <field resource="device_purchase_line_items" type="string" target="InvoiceAttached"/>
                <field resource="ip_addresses" sub-key="ip" is-array="True" type="string" target="IPAddress6"/>
                <field resource="ip_addresses" sub-key="ip" is-array="True" type="string" target="IPAddress"/>
                <field resource="last_updated" type="string" target="LastModifiedDateTime"/>
                <field resource="building" type="string" target="LocationBuilding"/>
                <field resource="room" type="string" target="LocationRoom"/>
                <field resource="mac_addresses" type="string" target="MACAddress"/>
                <field resource="manufacturer" type="string" target="Manufacturer"/>
                <field resource="hw_model" type="string" target="Model"/>
                <field resource="cpucount" type="integer" target="NumberCPUs"/>
                <field resource="os" type="string" target="OperatingSystem"/>
                <field resource="category" type="string" target="OperatingSystemGroup"/>
                <field resource="osver" type="string" target="OperatingSystemVersion"/>
                <field resource="customer" type="string" target="OwnedBy"/>
                <field resource="customer" type="string" target="OwnedByTeam"/>
                <field resource="ram" type="integer" target="PhysicalMemory"/>
                <field resource="" sub-key="line_cost" type="date" target="PurchaseDate"/>
                <field resource="device_purchase_line_items" sub-key="line_cost" is-array="True" type="integer"
                       target="PurchasePrice"/>
                <field resource="device_purchase_line_items" sub-key="line_type" is-array="True" type="string"
                       target="PurchaseType"/>
                <field resource="service_level" type="integer" target="SelectedStatus"/>
                <field resource="serial_no" type="string" target="SerialNumber"/>
                <field resource="manufacturer" type="string" target="Vendor"/>
                <field resource="device_id" type="string" target="U_device42_id"/>
                <field resource="device_id" url="https://10.42.42.60/admin/rackraj/device/{}/" type="string"
                       target="U_device42_url"/>
            </mapping>
        </task>
        <task enable="true" description="Copy Networks from Device42 to Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH" path="/api/V1/savebusinessobjectbatch"/>
                <resource model="device" target="device42" method="GET" extra-filter="last_updated_gt=2016-09-04 00:00"
                          path="/api/1.0/devices/all/?type=physical&amp;is_it_blade_host=yes&amp;"/>
            </api>

            <configuration-item bus-ob-id="9343f947d5000ac81406e746f0975ddeb11c184480"/>

            <mapping callback="from_d42" key="device_id" source="Devices">
                <!--<field resource="service_level" type="string" target="AssetStatus"/>-->
                <field resource="tags" type="string" is-array="True" target="AssetTag"/>
                <field resource="customer" type="string" target="AssetOwner"/>
                <!--<field resource="type" type="string" target="AssetType"/>-->
                <field resource="tags" type="string" target="ComputerType"/>
                <field resource="cpuspeed" type="string" target="CPUSpeed"/>
                <field resource="notes" type="string" target="Description"/>
                <field resource="aliases" is-array="True" type="string" target="FriendlyName"/>
                <field resource="name" type="string" target="HostName"/>
                <field resource="device_purchase_line_items" type="string" target="InvoiceAttached"/>
                <field resource="ip_addresses" sub-key="ip" is-array="True" type="string" target="IPAddress6"/>
                <field resource="ip_addresses" sub-key="ip" is-array="True" type="string" target="IPAddress"/>
                <field resource="last_updated" type="string" target="LastModifiedDateTime"/>
                <field resource="building" type="string" target="LocationBuilding"/>
                <field resource="room" type="string" target="LocationRoom"/>
                <field resource="mac_addresses" type="string" target="MACAddress"/>
                <field resource="manufacturer" type="string" target="Manufacturer"/>
                <field resource="hw_model" type="string" target="Model"/>
                <field resource="cpucount" type="integer" target="NumberCPUs"/>
                <field resource="os" type="string" target="OperatingSystem"/>
                <field resource="category" type="string" target="OperatingSystemGroup"/>
                <field resource="osver" type="string" target="OperatingSystemVersion"/>
                <!--<field resource="customer" type="string" target="OwnedBy"/>-->
                <!--<field resource="customer" type="string" target="OwnedByTeam"/>-->
                <field resource="ram" type="integer" target="PhysicalMemory"/>
                <field resource="" sub-key="line_cost" type="date" target="PurchaseDate"/>
                <field resource="device_purchase_line_items" sub-key="line_cost" is-array="True" type="integer"
                       target="PurchasePrice"/>
                <field resource="device_purchase_line_items" sub-key="line_type" is-array="True" type="string"
                       target="PurchaseType"/>
                <!--<field resource="service_level" type="integer" target="SelectedStatus"/>-->
                <field resource="serial_no" type="string" target="SerialNumber"/>
                <field resource="manufacturer" type="string" target="Vendor"/>
                <field resource="device_id" type="string" target="U_device42_id"/>
                <field resource="device_id" url="https://10.42.42.60/admin/rackraj/device_physical/{}/" type="string"
                       target="U_device42_url"/>
            </mapping>
        </task>
        <task enable="false" description="Copy Software Items from Device42 to Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH" path="/api/V1/savebusinessobjectbatch"/>
                <resource model="software" target="device42" method="GET"
                          extra-filter="last_updated_gt=2016-12-04 00:00" path="/api/1.0/software/?"/>
            </api>

            <configuration-item bus-ob-id="9344e32d133f965792802043f4978ca3b1c18edddb"/>

            <mapping callback="from_d42" key="id" source="software">
                <field resource="tags" type="string" is-array="True" target="AssetTag"/>
                <field resource="type" type="string" target="ContractID"/>
                <field resource="notes" type="string" target="Description"/>
                <field resource="name" type="string" target="FriendlyName"/>
                <field resource="vendor" type="string" target="Manufacturer"/>
                <field resource="licensed_count" type="string" target="NumberLicenseKeys"/>
                <field resource="license_use_count" type="string" extra-api="/api/1.0/software_details/?software_id="
                       extra-api-additional-param="id" target="NumberLicenseKeys"/>
                <field resource="name" type="string" target="PackageName"/>
                <field resource="name" type="string" target="Product"/>
                <!--<field resource="" type="date" target="PurchaseDate"/>-->
                <!--<field resource="" type="integer" target="PurchasePrice"/>-->
                <!--<field resource="" type="string" target="PurchaseType"/>-->
                <field resource="id" type="string" target="SoftwareID"/>
                <field resource="version" type="string" target="Version"/>
                <field resource="vendor" type="string" target="Vendor"/>
                <field resource="id" type="string" target="U_device42_id"/>
                <field resource="id" url="https://10.42.42.60/admin/software/{}/" type="string"
                       target="U_device42_url"/>
            </mapping>
        </task>
        <task enable="false" description="Copy Software Items from Device42 to Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH"
                        path="/api/V1/savebusinessobjectbatch"/>
                <resource
                        model="software"
                        target="device42"
                        method="POST"
                        extra-filter=""
                        path="/services/data/v1.0/query/"
                        doql="SELECT software_pk, view_software_v1.tags as tags, view_software_v1.name as name, software_type, licensed_count , view_vendor_v1.name as vendor FROM view_software_v1 left join view_vendor_v1 on view_software_v1.vendor_fk = view_vendor_v1.vendor_pk"
                ></resource>
            </api>

            <configuration-item bus-ob-id="9344e32d133f965792802043f4978ca3b1c18edddb"/>

            <mapping callback="from_d42" key="software_pk" source="software">
                <field resource="tags" type="string" is-array="True" target="AssetTag"/>
                <field resource="software_type" type="string" target="ContractID"/>
                <field resource="notes" type="string" target="Description"/>
                <field resource="name" type="string" target="FriendlyName"/>
                <field resource="vendor" type="string" target="Manufacturer"/>
                <field resource="licensed_count" type="string" target="NumberLicenseKeys"/>
                <field resource="name" type="string" target="PackageName"/>
                <field resource="name" type="string" target="Product"/>
                <field resource="software_pk" type="string" target="SoftwareID"/>
                <field resource="vendor" type="string" target="Vendor"/>
                <field resource="software_pk" type="string" target="U_device42_id"/>
                <field resource="software_pk" url="https://10.42.42.60/admin/software/{}/" type="string"
                       target="U_device42_url"/>
            </mapping>
        </task>

        <task enable="false" description="Extend Software Items from Device42 to Cherwell via software_detail table">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH"
                        path="/api/V1/savebusinessobjectbatch"/>
                <resource
                        model="software"
                        target="device42"
                        method="POST"
                        extra-filter=""
                        path="/services/data/v1.0/query/"
                        doql="SELECT software_fk, version, license_use_count from view_softwareinuse_v1"
                ></resource>
            </api>

            <configuration-item bus-ob-id="9344e32d133f965792802043f4978ca3b1c18edddb"/>

            <mapping callback="from_d42" key="software_fk" source="software_details" extend="true"
                     primary_fk="software_fk">
                <field resource="license_use_count" type="string" extra-api="/api/1.0/software_details/?software_id="
                       extra-api-additional-param="id" target="NumberLicenseKeys"/>
                <field resource="version" type="string" target="Version"/>
            </mapping>
        </task>

        <task enable="false" description="Delete Servers from Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH"
                        path="/api/V1/deletebusinessobjectbatch" delete="true"/>
                <resource model="device" target="device42" method="GET"
                          extra-filter="last_updated_gt=2016-09-04 00:00"
                          path="/api/1.0/devices/all/?is_it_blade_host=no&amp;limit=100&amp;"/>
            </api>

            <configuration-item bus-ob-id="93dada9f640056ce1dc67b4d4bb801f69104894dc8"/>
            <mapping callback="from_d42" key="device_id" source="Devices"></mapping>
        </task>

        <task enable="false" description="Delete Networks from Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH"
                        path="/api/V1/deletebusinessobjectbatch" delete="true"/>
                <resource model="device" target="device42" method="GET"
                          extra-filter="last_updated_gt=2016-09-04 00:00"
                          path="/api/1.0/devices/all/?is_it_blade_host=no&amp;limit=100&amp;"/>
            </api>

            <configuration-item bus-ob-id="9343f947d5000ac81406e746f0975ddeb11c184480"/>
            <mapping callback="from_d42" key="device_id" source="Devices"></mapping>
        </task>

        <task enable="false" description="Delete Software Items from Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH"
                        path="/api/V1/deletebusinessobjectbatch" delete="true"/>
                <resource model="device" target="device42" method="GET"
                          extra-filter="last_updated_gt=2016-09-04 00:00"
                          path="/api/1.0/devices/all/?is_it_blade_host=no&amp;limit=100&amp;"/>
            </api>

            <configuration-item bus-ob-id="9344e32d133f965792802043f4978ca3b1c18edddb"/>
            <mapping callback="from_d42" key="id" source="software"></mapping>
        </task>

        <task enable="false" type="affinity_group" reset-connections="true"
              description="Copy Affinity Group data from Device42 to Cherwell">
            <api>
                <target target="cherwell" method="POST" update_method="PATCH"
                        path="/api/V1/savebusinessobjectbatch"/>

                <resource
                        target="device42"
                        method="POST"
                        extra-filter=""
                        path="/services/data/v1.0/query/?"
                        doql="
select
    da.dependency_device_fk,
    sa.dependency_serviceinstance_fk,
    sa.dependency_serviceinstance_name,
    saac1.dependency_appcomp_fk,
    saac1.dependency_appcomp_name,
    ac1.device_fk dependency_appcomp_device_fk,
    da.dependent_device_fk,
    sa.dependent_serviceinstance_fk,
    sa.dependent_serviceinstance_name,
    saac2.dependent_appcomp_fk,
    saac2.dependent_appcomp_name,
    ac2.device_fk dependent_appcomp_device_fk
from view_deviceaffinity_v2 da
    left join view_serviceaffinity_v2 sa on sa.deviceaffinity_fk = da.deviceaffinity_pk
    left join view_serviceaffinitydependencyappcomps_v2 saac1 on saac1.serviceaffinity_fk = sa.serviceaffinity_pk
    left join view_appcomp_v1 ac1 on ac1.appcomp_pk = saac1.dependency_appcomp_fk
    left join view_serviceaffinitydependentappcomps_v2 saac2 on saac2.serviceaffinity_fk = sa.serviceaffinity_pk
    left join view_appcomp_v1 ac2 on ac2.appcomp_pk = saac2.dependent_appcomp_fk
where da.effective_to is null and sa.effective_to is null
"
                ></resource>
            </api>

            <configuration-item d42-model="serviceinstance" bus-ob-id="9442246ac40b91c673fee447c8bc902991437a8ded">
                <downstream-relationship d42-model="serviceinstance"
                                         id="93982dbca493a2b8fb8d874b29a8272912de2039fb"></downstream-relationship>

                <mapping key="serviceinstance_pk">
                    <field resource="name" type="string" target="FriendlyName"/>
                    <field resource="serviceinstance_pk" type="string" target="U_device42_id"/>
                    <field resource="serviceinstance_pk" url="https://10.42.42.60/admin/rackraj/servicedetail/{}/" type="string" target="U_device42_url"/>
                </mapping>
            </configuration-item>

            <configuration-item d42-model="appcomp" bus-ob-id="94422728aff1c320e3dec84c52a721f365363973e2">
                <downstream-relationship d42-model="serviceinstance"
                                         id="93982dbca493a2b8fb8d874b29a8272912de2039fb"></downstream-relationship>

                <mapping key="appcomp_pk">
                    <field resource="name" type="string" target="FriendlyName"/>
                    <field resource="appcomp_pk" type="string" target="U_device42_id"/>
                    <field resource="appcomp_pk" url="https://10.42.42.60/admin/rackraj/appcomp/{}/" type="string" target="U_device42_url"/>
                </mapping>
            </configuration-item>

            <configuration-item d42-model="device" bus-ob-id="9343f947d5000ac81406e746f0975ddeb11c184480">
                <downstream-relationship d42-model="serviceinstance"
                                         id="93982dbca493a2b8fb8d874b29a8272912de2039fb"></downstream-relationship>
                <downstream-relationship d42-model="appcomp"
                                         id="93982dbca493a2b8fb8d874b29a8272912de2039fb"></downstream-relationship>
            </configuration-item>

            <configuration-item d42-model="device" bus-ob-id="93dada9f640056ce1dc67b4d4bb801f69104894dc8">
                <downstream-relationship d42-model="serviceinstance"
                                         id="93982dbca493a2b8fb8d874b29a8272912de2039fb"></downstream-relationship>
                <downstream-relationship d42-model="appcomp"
                                         id="93982dbca493a2b8fb8d874b29a8272912de2039fb"></downstream-relationship>
            </configuration-item>
        </task>

    </tasks>

</meta>